@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

:root {
    --bg-color:#508C9B;
    --primary-color:#6A9C89;
    --secundary-color:#5DEBD7;


}